<a href="https://colab.research.google.com/github/JinLeeGG/Technical-Interview-Prep-101-CodePath-/blob/main/Unit1%20(Strings%20%26%20Arrays)/Unit_1_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built-In Functions
## Print
print(s) Prints the message s to the console.

* Accepts one parameter s: the message you would like to print

Example Usage:

In [5]:
print("Welcome to TIP102!")
print(100)

s = "Welcome to CodePath!"
num = 7
print(s)
print(num)

lst = ["TIP101", "TIP102", "TIP103"]
print(lst)

x = 5
y = 3
print(x + y)

Welcome to TIP102!
100
Welcome to CodePath!
7
['TIP101', 'TIP102', 'TIP103']
8

# Length
len(s) Returns the length of a list or string. Try it
* Accepts one parameter s: the list or string we would like to get the length of
* Returns the number of items in a list or the number of characters in a string

Example Usage:

In [6]:
# Example 1: Getting the length of a list
lst = ['a', 'b', 'c']
lst_length = len(lst)
print(lst_length)

# Example 2: Getting the length of string
s = 'abcd'
s_length = len(s)
print(s_length)

3
4

# Range
range(start, stop, step) Returns a sequence of numbers. Try it

* Accepts three parameters:
  * start: the first number in the sequence, this is an optional parameter. If we do not provide a start, the range will start from 0.
  * stop: the last value in the sequence exclusive, meaning that the stop value is not actually included in the sequence. This is a required parameter
  * step: how much to increment each number in the sequence. If we do not provide a step, each successive number in the sequence will increment by 1.

Example Usage:

In [17]:
range(10)
range(1, 11)
range(0, 30, 5)

range(0, 30, 5)

# Sum
sum(x) Returns the sum of all values in a list. Try it

In [18]:
sum([1, 2, 3, 4]) # Evaluates to 10

10

# Min
min(x) Returns the argument with the lowest value or the item with the lowest value in a list.

In [21]:
min([2, 3, 4, 5, 6])

2

In [22]:
min(4, 2, 3)

2

In [24]:
min(['a', 'b', 'cc', 'aa'])

'a'

# Max
max(x) Returns the argument with the highest value or the item with the highest value in a list. Try it

In [25]:
max([2, 3, 4, 5,1])

5

In [26]:
max(5, 2, 3)

5

In [27]:
max(['a', 'b', 'c', 'aa'])

'c'

# List Methods & Syntax
##Append Method
lst.append(item) Adds an item to the end of the list. Try it

* Accepts one parameter item: the item you would like to add to the list

Example Usage:

In [28]:
lst = [1, 2, 3, 4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

Sort Method
lst.sort() Sorts the list in ascending order. Try it

Does not have any required parameters
Does not return any value
Example Usage:

# Sort Method
lst.sort() Sorts the list in ascending order. Try it

* Does not have any required parameters
* Does not return any value

Example Usage:

In [30]:
lst = [9, 4, 5, 2, 1, 8]
lst.sort()
print(lst)

[1, 2, 4, 5, 8, 9]

In [31]:
lst = ["b", "a", "c", "g"]
lst.sort()
print(lst)

['a', 'b', 'c', 'g']

# String Methods & Syntax
## Lower Method
s.lower() Returns s as a lowercase string.Try it

* Accepts no parameters
* Returns a lowercase string.

Example Usage:

In [32]:
s = "Hello World!"
lowered = s.lower()
print(lowered)

hello world!

In [33]:
s = "HELLO WORLD!"
lowered = s.lower()
print(lowered)

hello world!

# Split Method
s.split(seperator) Splits the string into a list along whitespace or specified separator. Try it

* s is the string to split
* Accepts one parameter separator: The characters along which the string will be split. This is an optional parameter. By default, the string is split along any whitespace.
* Returns a list of the substrings of s split by the specified separator.

Example Usage:

In [34]:
s = 'Never gonna give you up'
split = s.split()
print(split)

['Never', 'gonna', 'give', 'you', 'up']

In [35]:
s = 'Never-gonna-let-you-down'
split = s.split("-")
print(split)

['Never', 'gonna', 'let', 'you', 'down']

# Join Method
s.join(x) Turns an iterable x into a string using s as a separator between elements in x. Try it

* s is the separator placed between items in the specified iterable
* Accepts one parameter x: the iterable whose items will be joined together into a string. This is a required parameter.
* Returns a string of the items in x separated by s
Example Usage:

In [36]:
# Example 1: Join items in a list separated by space
lst = ['Never', 'gonna', 'run', 'around', 'and', 'desert', 'you']
joined = ' '.join(lst)
print(joined) # Prints 'Never gonna run around and desert you'

# Example 2: Join items in a list separated by dash
lst = ['Never', 'gonna', 'make', 'you', 'cry']
joined = '-'.join(lst)
print(joined) # Prints 'Never-gonna-make-you-cry'

Never gonna run around and desert you
Never-gonna-make-you-cry

# Strip Method
s.strip(characters) Removes whitespace or specified characters from either end of the string. Try it

* s is the string to remove whitespace or characters from.
* Accepts one parameter characters: the characters/substring to remove from either end of s. This is an optional parameter. If no value is specified, whitespace will be removed from the beginning and end of s.
* Returns the string s with whitespace or characters removed.

Example Usage:

In [38]:
s = '       Never gonna say goodbye       '
stripped = s.strip()
print(stripped)

Never gonna say goodbye

In [39]:
s = '????Never gonna tell a lie and hurt you?????'
stripped = s.strip('?')
print(stripped)

Never gonna tell a lie and hurt you

# Python Syntax
## Variables
In Python, variables do not need to be declared using a key word. We simply create variables by giving them a name and assigning a value to it.

Variable names use snake case and should have underscores between words.

Example Usage:

In [40]:
# Example 1: Integer variable
var1 = 10

# Example 2: String Variable
var2 = "Codepath"

# Example 3: Boolean Variable
my_boolean = True

print(var1) # Prints 10
print(var2) # Prints 'Codepath'
print(my_boolean) # Prints True

10
Codepath
True

In [41]:
# Example: Changing x from an int to a string
x = 10
print(x) # Prints 10

x = "Hello"
print(x) # Prints 'Hello'

10
Hello

# Conditionals
In Python, conditionals are defined using the if, elif and else keywords. The body of the conditional will execute if the expression placed after if or elif evaluates to True.

In [42]:
# Example 1: Simple if statement
x = 3
if x > 1:
  print("This line will execute!")

if x > 5:
  print("This line will not execute!")

# Output: 'This line will execute!'

# Example 2: If-Elif statement

x = 10
y = 20

if x > y:
  print("x is greater than y")
elif y > x:
  print("y is greater than x")

# Output: 'y is greater than x'

# Example 3: If-Elif-Else statement
x = 20
y = 20

if x > y:
  print("x is greater than y")
elif y > x:
  print("y is greater than x")
else:
  print("x and y are equal")

# Output: 'x and y are equal'

This line will execute!
y is greater than x
x and y are equal

# Functions
In Python, functions are defined using the def keyword.

In [44]:
# Example: Function that prints Hello world!
def function_example():
  print("Hello world!")

In [45]:
# Example: Calling a function
function_example() # Prints 'Hello world!'

Hello world!

In [46]:
# Example: Function with 2 parameters
def function_w_parameters(parameter1, parameter2):
  print("Parameter 1: ", parameter1)
  print("Parameter 2: ", parameter2)

function_w_parameters("Interview", "Prep")
# Output:
# Parameter 1: Interview
# Parameter 2: Prep

Parameter 1:  Interview
Parameter 2:  Prep

In [47]:
# Example: Function that returns sum of two numbers
def sum(a, b):
  return a + b

# Example: Function without a return value
def sum_without_returning(a, b):
  a + b

return_val1 = sum(4, 2)
return_val2 = sum_without_returning(4, 2)
print(return_val1) # Output: 6
print(return_val2) # Output: None

6
None

# Formatted Strings
Formatted strings or f-strings allow us to insert variable expressions into Python strings.

To create an f-string, place f before the quotation marks and add curly brackets around any variables we add to the string.

Example Usage:

In [48]:
# Example 1: Adding a variable to a string
name = "Michael"
print(f"Welcome to Codepath, {name}!") # Prints 'Welcome to CodePath, Michael!'

# Example 2: Adding an expression to a string
a = 3
b = 5
print(f"The sum of {a} and {b} is {a + b}") # Prints 'The sum of 3 and 5 is 8'

Welcome to Codepath, Michael!
The sum of 3 and 5 is 8

# Remainder Division
The % operator is also known as the modulo operator and performs remainder division. x % y returns the remainder after dividing x by y. Try it

Example Usage:

In [50]:
print(5 % 2) # Prints 1 because 5 / 2 = 2 remainder 1

print(10 % 2) # Prints 0 because 10 / 2 = 5 remainder 0

1
0

# For Loops
for num in nums Iterates through every number in nums. Try it

For loops in Python allow you to iterate over a sequence (such as a list, string, or range) and execute a block of code multiple times. This is particularly useful for accessing each element in a list or executing a function multiple times.

Example Usage:

In [51]:
# Example 1: Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)  # Outputs each fruit on a new line

# Example 2: Using a for loop with a range
for i in range(5):
    print(i)  # Prints numbers 0 to 4

apple
banana
cherry
0
1
2
3
4

# While Loops
while condition Iterates while the condition evaluates to True

While loops in Python allow you to repeat a block of code so long as a condition evaluates to True. This is particularly useful when the number of iterations we want to perform is not predetermined and depends on dynamic conditions.

Example Usage:

In [52]:
# Example 1: Indeterminate number of iterations
# Prompting user for input until they enter a valid response
user_input = ""
while user_input != "quit":
    user_input = input("Enter a command (type 'quit' to exit): ")
print("You exited the loop.")

# Example 2: Processing data until a condition is met
i = 1
while i < 6:
    print(i)
    i += 1

Enter a command (type 'quit' to exit): quit
You exited the loop.
1
2
3
4
5

# Advanced Concepts

## Built-in Functions
### Enumerate
enumerate(x) takes an iterable such as a list, dictionary, or string, and adds a counter to the function. It is often used to loop over the indices and values of an iterable simultaneously.

* Accepts two parameters:
  * x: an iterable object such as a list, dictionary, or string. This is a required parameter.
  * start: the value to start the counter at. This is an optional parameter. If no default value is specified, the counter will start at 0.
* Returns a sequence of numbers coupled with values in given iterable
Example Usage:

In [53]:
my_string = 'code'
for index, char in enumerate(my_string):
    print(index, char)

0 c
1 o
2 d
3 e

In [56]:
cereals = ['cheerios', 'fruity pebbles', 'cocoa puffs']
for count, cereal in enumerate(cereals, start = 1):
    print(count, cereal)

1 cheerios
2 fruity pebbles
3 cocoa puffs

# Zip
zip(x, y) takes two or more iterables and returns a sequence of tuples where each the first item from each iterable forms the first tuple in the sequence, the second item from each iterable forms a second tuple, and so on. It continues until it has placed all elements in the shortest iterable into a function. Try it

Zip is useful for iterating over multiple iterables in parallel or for combining data from separate iterables.

* Accepts two or more parameters:
  * x: an iterable object such as a list, dictionary, or string.
  * y: an iterable object such as a list, dictionary, or string.
  * Optionally accepts additional iterables to zip with x and y
* Returns a sequence of tuples pairing x[i] with y[i] where 0 <= i <= min(len(x), len(y))

In [58]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
zipped = zip(names, ages)
print(list(zipped))

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

# Python Syntax
## Nested Lists
Lists and other data structures used to store multiple items in a single variable can be nested. This means that lists can store other lists.

The container list is referred to as the outer list, while each list nested inside is referred to as an inner list.

Example Usage:

In [60]:
# Simple List
singers = ["Sabrina Carpenter", "FKA Twigs", "Elliot Smith"]

# Nested List
albums = [
            ["Sabrina Carpenter", "Short n' Sweet"],
            ["FKA Twigs", "Magdalene"],
            ["Elliot Smith", "Either/Or"]]

# Nested Lists Where Inner Lists Have Unequal Length
numbers = [
            [1],
            [1, 2],
            [1, 2, 3]]

# Triply Nested List
water_levels = ["Shallow", ["Deep", ["Deeper"]]]

In [61]:
matrix = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]]

In [62]:
# Example 1: Retrieving Album Data
albums = [
            ["Sabrina Carpenter", "Short n' Sweet"],
            ["FKA Twigs", "Magdalene"],
            ["Elliot Smith", "Either/Or"]]

first_album = albums[0]
print(first_album) # Output: ["Sabrina Carpenter", "Short n' Sweet"]

# Example 2: Updating a Row in a Matrix
matrix = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]]

matrix[2] = [100, 200, 300]
print(matrix) # Output: [[1, 2, 3], [4, 5, 6], [100, 200, 300]]

['Sabrina Carpenter', "Short n' Sweet"]
[[1, 2, 3], [4, 5, 6], [100, 200, 300]]

In [63]:
# Example 1: Retrieving a Singer
albums = [
            ["Sabrina Carpenter", "Short n' Sweet"],
            ["FKA Twigs", "Magdalene"],
            ["Elliot Smith", "Either/Or"]]

fka_twigs = albums[1][0]
print(fka_twigs) # Output: FKA Twigs

# Example 2: Updating a cell in a matrix
matrix = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]]
matrix[1][1] = "Surprise!"
print(matrix) # Output: [[1, 2, 3], [4, 'Suprise!', 6], [7, 8, 9]]

FKA Twigs
[[1, 2, 3], [4, 'Surprise!', 6], [7, 8, 9]]

# Nested Loops
Just as a nested list means a list within a list, a nested loop means a loop within a loop! They allow us to perform repeated actions within repeated actions.

When we nest loops, the inner loop will run completely every time the outer loop runs once.

Imagine the outer loop as the short hour hand of an analog clock, and the inner loop as the longer minute hand. The minute hand has to complete a full rotation around the clock before the hour hand increments once.

In [64]:
for i in range(1, 4):
  print("Outer loop incremented")
  for j in range(1, 4):
    print(f"i = {i}, j = {j}")

Outer loop incremented
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
Outer loop incremented
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
Outer loop incremented
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

In [65]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
  for item in row:
    print(item, " ")
  print()

1
2
3

4
5
6

7
8
9

In [66]:
numbers = [3, 5, 2]

# Outer for loop iterates over each number in the list
for num in numbers:
    print(f"Counting down from {num}:")

    # Inner while loop counts down from the current number to 0
    while num >= 0:
        print(num)
        num -= 1  # Decrement the number by 1 each time

    print("---")  # Separator to indicate moving to the next number

Counting down from 3:
3
2
1
0
---
Counting down from 5:
5
4
3
2
1
0
---
Counting down from 2:
2
1
0
---

# List Comprehensions
result_list = [expression for element in lst] evaluates an expression on each element in a list and stores the result of each evaluation in result_list. Try It

List comprehensions are a shorthand syntax for creating a new list using values of an existing list.

For example, say you want to double each value in a list. With a traditional for loop, you would to:

1. Initialize a new list to hold the list
2. Initialize a for loop
3. Double each element and append it

In [67]:
nums = [1, 2, 3, 4, 5]
doubled = []

for num in nums:
    doubled.append(num * 2)

print(doubled) # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [68]:
nums = [1, 2, 3, 4, 5]
doubled = [value * 2 for value in nums]
print(nums) # Output: [2, 4, 6, 8, 10]

[1, 2, 3, 4, 5]

In [69]:
words = ["I", "Love", "Codepath!"]
result = []

for word in words:
    if len(word) > 5:
        result.append(word)

print(result) # Output: ['Codepath!']

['Codepath!']

In [70]:
words = ["I", "Love", "Codepath!"]
result = [word for word in words if len(word) > 5]
print(result) # Output: ['Codepath!']

['Codepath!']

# Two Pointer Technique
The two-pointer approach is a common technique in which we initialize two pointer variables to track different indices or places in a list or string and move them to new indices based on certain conditions.


## Opposite Direction Pointers
In the most common variation of the two-pointer approach, we initialize one variable to point at the beginning of a list and a second variable/pointer to point at the end of list. We then shift the pointers to move inwards through the list towards each other, until our problem is solved or the pointers reach the opposite ends of the list.

Beginning and End Variation of 2-pointer

In the above case, pointer1 = 0 and pointer2 = 5. Let's say we wanted to reverse the integer list. The two pointers would allow us to swap the values at each pointer and then move inwards to continue swapping. The next iteration would have pointer1 = 1 and pointer2 = 4 to swap those values.

Swapped 2-pointer

After those values are swapped, the next iteration would have pointer1 = 2 and pointer2 = 3 to swap those values.

Last Swap 2-pointer

Finally, we know to stop once pointer1 == pointer2 (they are at the same index, mostly when the length of the list or string is odd) or when pointer1 > pointer2 (the pointers have intersected, and pointer1 is past pointer2).

The end result has the integer list completely reversed:

Final Swapped 2-pointer

In [71]:
left_pointer = 0
right_pointer = len(word) - 1
while left_pointer < right_pointer:
    pass
    left_pointer += 1
    right_pointer -= 1

In [73]:
    nums1_pointer = 0
    nums2_pointer = 0

    while nums1_pointer < len(nums1) and nums2_pointer < len(nums2):
        # <if conditional>
            # <operation>
            nums1_pointer += 1
        else:
            # <operation>
            nums2_pointer += 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)